@charset "utf-8";
/* CSS Document */

/*  * {margin:0;padding:0;}
ul.ol {list-style:none;}
a {text-decoration:none;}
a img {border:0;}
li {list-style:none;}
li img {display:block;}

br {clear:both;font-size:0;line-height:0;} */
body {background:none;}
#box {width:980px;margin:0 auto;}
#wrap1 {width:750px;margin:0 auto;float:left;}

.jjks{ background:url(images/jjks.png)}
#main {width:700px;height:300px;border:1px #e1e0e0 solid;margin-top: 30px;padding-left: 20px;}
#main h2 {padding-bottom:20px;margin-top: 30px;}
.main-left {height:190px;width:290px;float:left;margin-right:50px;}
.main-right {float:left;}
.word {height:80px;width:360px;border-radius:10px 10px;margin-bottom:30px;}
.word p {padding-top:20px;padding-left:15px;font-family:"微软雅黑";font-size:20px;color:black;float:left;padding-right:10px;}
.word p span {font-family:Arial;font-size: 26px;color:red;padding-right: 5px;}
.one1 {float:left;margin-top:15px;height:30px;width:120px;background-color:#fde304;border-radius:5px 5px;}
.one1 a {color:black;font-family:"微软雅黑";font-size:20px;margin-top:-10px;display:block;text-align:center;font-weight:bold;}
#content p a img {
	margin-right:12px;
}
#shaidan {
	width:228px;
	padding:0px 0 0 15px;
}
#shaidan span {
	font-size:16px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#shaidan h5 {
	font-family:"微软雅黑";
	line-height:30px;
	height:30px;
	color:#666;
	font-weight:bold;
	font-size:14px;
}
#shaidan p {
	font-family:"微软雅黑";
	color:#0000ff;
	font-weight:bold;
	font-size:14px;
	line-height:30px;
	height:30px;
	}
/*.bot {padding-left:7px;}
.zhekou {float:left;width:100px;padding-top: 20px;}
.zhekou p {font-family:"微软雅黑";font-size:16px;color:#999999;}
.zhekou h3 {color:#ff6600;font-size:16px;font-family:"微软雅黑";}
.zhekou h3 span {font-family:Arial;font-size:18px;}
.yuanjia {float:left;width:100px;padding-top: 20px;}
.yuanjia p {font-family:"微软雅黑";font-size:16px;color:#999;padding-left:13px;}
.yuanjia h3 {color:#666;font-size:16px;font-family:"微软雅黑";}*/
.clock {padding-top:30px;padding-left:5px;}
.clock img {float:left;padding-top:3px;}
.clock p {float:left;padding-left:10px;font-family:"微软雅黑";font-size:16px;color:#666;}
.clock p span {color:#999;}



#bottom {margin:0 auto;padding-top:20px;}
#bottom h3 {font-family:"黑体";font-size:16px;color:white;height:50px;
line-height:50px;
	background-color:#6db110;text-align:center;width:390px;
}
#dress {
	height:268px;
	width:720px;
	margin:20px 0 0 12px;
	border-bottom:1px dashed #e5e5e5;
}
.time {
	width:710px;
}
.time h5 {
	font-family:"微软雅黑";
	font-size:16px;
	color:#333;
	height:25px;
	width:485px;
	float:left;
	line-height: 25px;
}
#dress .time p {
	font-family:"微软雅黑";
	font-size:12px;
	color:#333;
	height:29px;
	width:88px;
	float:right;
}
#dress p {
	font-family:"微软雅黑";
	font-size:12px;
	color:#333;
	line-height:20px;
	width: 721px;
	height:20px;
	padding-bottom: 20px;
}
#dress ul {
	margin-top:35px;
}
#dress ul li {
	float:left;
	width:220px;
	height:220px;
	margin-right:15px;
	cursor:pointer;
}



#right {float:left;margin-top:30px;border:1px #e1e0e0 solid;width: 225px;}
#right h3 {font-family:"微软雅黑";font-size:16px;color:#333;padding:10px 0 0 10px;}
#right ul {padding-bottom:15px;}
#right ul li a img {padding-top:10px;padding-bottom:15px;margin: 0 auto}
#right h4 {font-family:Arial;font-size:16px;color:#ff704c;text-align:center;}
#right h4 del {color:#b7b7b7;padding-left:10px;font-size:14px;}


