@charset "utf-8";
/* CSS Document */

* {margin:0;padding:0;}
ul.ol {list-style:none;}
a {text-decoration:none;}
a img {border:0;}
li {list-style:none;}
li img {display:block;}
body {font-family:"微软雅黑";}
br {clear:both;font-size:0;line-height:0;}

#wrap {
	margin:auto 0;
	background-color:white;
}
#nav {
	background-color:#cf201c;
	height:37px;
	width:100%;	
	display: inline-block;
	
}
#nav .two {
	margin:0 auto;
	width:980px;
}
#nav ul {
	width:600px;
	float:left;
}
#nav li {
	float:left;
	width:100px;
}
#nav li a {
	font-family:"宋体";
	font-size:16px;
	color:#fff;
	line-height:36px;
    height:36px;
	display:block;
	width:100px;
	text-align:center;
}
#nav li a:hover {
	background-color:#bb120f;
}
#nav li a.on {
    background-color: #bb120f;
}
#nav .one {
	padding-left:210px;
	font-family:"宋体";
	font-size:12px;
	color:#fff;
	line-height:398px;
	display:block;
}
#nav p {
	float:left;
	padding-left:50px;
	position:relative;
}
#nav p img {
	position:absolute;
	top:8px;
	right:75px;
}
#nav p a {
	font-family:"宋体";
	font-size:12px;
	color:#fff;
	line-height:36px;
	display:block;
}

#class {
    width:980px;
	border-top:1px solid #cbcbcb;
	border-left:1px solid #cbcbcb;
	border-right:1px solid #cbcbcb;
	
	margin: 0 auto;

}


.class_top {
	height:53px;
	padding-bottom:7px;
	border-bottom:1px solid #cc0000;
	text-align:center;
}
.class_top li {
	float:left;
	width:84px;
	padding-right:5px;
	position:relative;
}
.class_top li img {
	position:absolute;
	top:5px;
	left:30px;
}
.class_top li a {
	font-family:"宋体";
	font-size:12px;
	color:#999;
	line-height:35px;
	padding-top:25px;
	display:block;
}
.class_top li a:hover {
	color:#cc0000;
}



#class_new{
    width:980px;
    margin:0 auto;
}

#class_new ul {
	
}
#class_new li {
	float:left;
	width:84px;
	padding-right:5px;
	position:relative;
}
#class_new li img {
	position:absolute;
	top:5px;
	left:30px;
}
#class_new li a {
	font-family:"宋体";
	font-size:12px;
	color:white;
	line-height:35px;
	padding-top:25px;
	display:block;
}
#class_new li a:hover {
	background-color:#8b1c1c;
}

.image {
	position:fixed;
	z-index:990;
	display:none;
	margin:auto 0;
}
#gosh {
    width: 100%;
    height:60px;
    background-color: #cc0000;
    opacity: 0.75;
    padding-bottom: 7px;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
    text-align: center;
    position: fixed;
    z-index: 990;
    display:none;
}
.X {
	z-index:990;
	margin:auto 0;
	position:fixed;
    left:-20px;
}

.class_top li a.on {
    color: #cc0000;
}