@charset "utf-8";
/* CSS Document */

* {margin:0;padding:0;}
ul.ol {list-style:none;}
a {text-decoration:none;}
a img {border:0;}
li {list-style:none;}
li img {display:block;}
body {font-family:"微软雅黑";}
br {clear:both;font-size:0;line-height:0;}

#wrap {
	margin:auto 0;
	background-color:white;
}
#nav {
	background-color:#cf201c;
	height:37px;
	width:100%;	
	display: inline-block;
	
}
#nav .two {
	margin:0 auto;
	width:980px;
}
#nav ul {
	width:700px;
	float:left;
}
#nav li {
	float:left;
	width:100px;
}
#nav li a {
	font-family:"宋体";
	font-size:14px;
	color:#fff;
	line-height:36px;
    height:36px;
	display:block;
	width:100px;
	text-align:center;
}
#nav li a:hover {
	background-color:#bb120f;
}
#nav li a.on {
    background-color: #bb120f;
}
#nav .one {
	/*padding-left:210px;*/
	font-family:"宋体";
	font-size:12px;
	color:#fff;
	line-height:398px;
	display:block;
}
#nav p {
	float:left;
	padding-left:50px;
	position:relative;
}
#nav p img {
	position:absolute;
	top:8px;
	right:73px;
}
#nav p a {
	font-family:"宋体";
	font-size:12px;
	color:#fff;
	line-height:36px;
	display:block;
}

#class {
    width:980px;
	border-top:1px solid #cbcbcb;
	border-left:1px solid #cbcbcb;
	border-right:1px solid #cbcbcb;
	
	margin: 0 auto;

}


.class_top {
	height:53px;
	padding-bottom:7px;
	border-bottom:1px solid #cc0000;
	text-align:center;
}
.class_top li {
	float:left;
	width:84px;
	padding-right:5px;
	position:relative;
}
.class_top li img {
	position:absolute;
	top:5px;
	left:30px;
}
.class_top li a {
	font-family:"宋体";
	font-size:12px;
	color:#999;
	line-height:35px;
	padding-top:25px;
	display:block;
}
.class_top li a:hover {
	color:#cc0000;
}



#class_new{
    width:980px;
    margin:0 auto;
}

#class_new li {
	float:left;
	width:84px;
	height:53px;
	padding-right:5px;
	position:relative;
}
#class_new li img {
	position:absolute;
	top:5px;
	left:30px;
}
#class_new li a {
	font-family:"宋体";
	font-size:12px;
	color:white;
	line-height:35px;
	padding-top:25px;
	display:block;
}
#class_new li a:hover {
	background-color:#8b1c1c;
	height:42px;
}

.image {
	position:fixed;
	z-index:990;
	display:none;
	margin:auto 0;
}
#gosh {
    width: 100%;
    height:60px;
    background-color: #cc0000;
    opacity: 0.75;
    padding-bottom: 7px;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
    text-align: center;
    position: fixed;
    z-index: 990;
    display:none;
}


.X {
	z-index:990;
	margin:auto 0;
	position:fixed;
    left:-20px;
}

.class_top li a.on {
    color: #cc0000;
}


/* #banner {
	width:140px;
	height:435px;
	background-color:#fff;
	margin-top: 5px;
	display: block;
    position: fixed;
    left: 5%;
    z-index: 990;
}
 */

 #banner {
	background-color:none repeat 0 0 scroll #fff;
	left: 50%;
	margin-left: -642px;
    position: absolute;
    position:fixed;
    text-align: left;
    top:135px;
    width:140px;
    z-index: 990;
    display: block;
} 
.dujia {height:265px;border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;background-color: #fff;}
.dujia p {background-color:#ffeed9;font-size:12px;color:#bf7c53;font-family:"微软雅黑";line-height:30px;text-align:center;}
.dujia ul {padding:15px 0 0 8px;}
.dujia ul li {float:left;width:55px;padding-bottom:14px;}
.dujia ul li a {color:#666;font-family:"微软雅黑";font-size:12px;display:block;}
.dujia ul li a:hover {background-color:#fff1d0;color:#780c00;width:55px;border-radius:5px 5px;}
#search {padding-bottom:8px;}
.search_text {width:77px;height:23px;font-family:"微软雅黑";color:#757575;font-size:12px;padding-left:5px;border:0;vertical-align:top;border:1px solid #e5e5e5;}
.search_btn {height:25px;width:30px;border:0;cursor:pointer;	font-family:"微软雅黑";color:white;font-size:12px;background-color:#ee4743;border-radius:5px 5px;}
.jingxuan {padding-top:8px;height:100px;border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;background-color: #fff;}
.jingxuan p {background-color:#ffeed9;font-size:12px;color:#bf7c53;font-family:"微软雅黑";padding:6px 0 0 10px;}
.jingxuan ul {height:42px;border-bottom:1px solid #e5e5e5;}
.jingxuan ul li {float:left;width:55px;padding:15px 0 14px 0;}
.jingxuan ul li a {color:#666;font-family:"微软雅黑";font-size:12px;display:block;text-align:center;}
.jingxuan ul li a:hover {background-color:#fff1d0;color:#780c00;width:55px;border-radius:5px 5px;}
.jingxuan ol li {height:40px;border-bottom:1px solid #e5e5e5;}
.jingxuan ol li img {float:left;padding:8px 10px 0 10px;}
.one a {
	padding-left:15px;
}
.jingxuan ol li a {font-family:"微软雅黑";font-size:12px;color:#666;float:left;display:block;line-height:35px;text-align:center;}
.jingxuan ol li a:hover {color:#780c00;}
